/* Hide the native form progression buttons */
#studio ul.list-inline {
    display: none;
}
.gu-mirror {
    background-color: #e9f0f5 !important;
    color: #858a90 !important;
    text-align: left !important;
    border: 1px solid rgba(0,0,0,0.125) !important;
    -webkit-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.5);
    box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.5);
    background: url(img/drag.png) no-repeat center right 5px;
}
.gu-transit {
    color: #858a90 !important;
    background-color: #e9f0f5 !important;
    border: 1px solid rgba(0,0,0,0.125) !important;
}
#studio .formcomponents .card-header,
#studio .formcomponents .card-body,
#studio .formcomponents .btn-block {
    background: #e9f0f5;
}
#studio .formcomponents .card-header {
    border-bottom: none;
    padding: 0;
}
#studio .formcomponents .card-body {
    padding: 0.3rem;
}
#studio .formcomponents .btn-block {
    text-align: left !important;
    border-radius: 0;
    color: #666;
    border: none;
}
#studio .formcomponents .btn-block:focus {
    box-shadow: none;
}
#studio .formcomponents .panel-collapse .btn-block {
    border-bottom: 1px solid #ddd;
    background: url(img/drag.png) no-repeat center right 5px;
    padding: 8px;
}
#studio .formcomponents .panel-collapse .btn-block:last-child {
    border-bottom: none
}
#studio div {
    font-family: 'Montserrat', sans-serif;
}
#studio .formcomponents .form-builder-panel {
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
}
#studio .formcomponents .builder-group-button {
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 1px;
}
#studio .formarea .card-header {
    background: transparent;
    border-bottom: none;
    padding: 0.5rem 0.5rem;
}
#studio .formarea .card-title {
    background: #f2f2f2;
    display: inline;
    padding: 5px;
    border-radius: 5px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    font-size: 12px;
}
#studio .drag-container {
    margin: 10px;
}