/* Hide the native form progression buttons */
#studio ul.list-inline {
    display: none;
}
.formbuilder .formcomponent,
.formbuilder.formcomponent:hover,
.formbuilder.formcomponent:active,
.formbuilder.formcomponent:focus {
    background-color: #e9f0f5;
    color: #666;
    border-top: transparent;
    border-right: transparent;
    border-left: transparent;
    border-bottom: 1px solid #ddd;
    font-size: 16px;
    border-radius: 0;
}
.formbuilder .formcomponent:last-child,
.formbuilder.formcomponent:hover:last-child,
.formbuilder.formcomponent:active:last-child,
.formbuilder.formcomponent:focus:last-child {
    border:transparent;
}


.formbuilder button.btn.btn-block.builder-group-button {
    text-transform: uppercase;
    font-weight: bolder;
    letter-spacing: 1px;
    font-weight: 400;
    font-size: 12px;
}  
.formbuilder .formcomponent {
    background-color: #e9f0f5;
}
.formbuilder .formcomponents .panel-collapse, .formbuilder .formcomponents .builder-group-button {
    background-color: #e9f0f5;
}
.formbuilder .formcomponents .form-builder-panel {
    margin-bottom: 1rem;
}
.formbuilder .formcomponents {
    color: #61666c;
}
.formbuilder .formcomponents .form-builder-group-header {
    border-bottom: none;
}
.formbuilder .formcomponents .panel-collapse, .formbuilder .formcomponents .builder-group-button:focus {
    box-shadow: none;
}
.formbuilder .formcomponents .accordion .card {
    border: 1px solid rgba(0,0,0,0.125) !important;
}
.formbuilder .formcomponents .btn {
    color: #61666c;
}
.formbuilder .formcomponents .accordion .card {
    border-radius: 5px !important;
}
.formbuilder .formcomponents .btn:not(:disabled):not(.disabled):active {
    background-color:#dfe8f1;
    color:#848484;
}
.formbuilder .formarea .card-header {
    padding: 0.50rem 0.4rem;
    border-bottom: none;
    background-color: transparent;
}
.formbuilder .formarea .card-title {
    background-color: #f3f3f3;
    padding: 2px 12px;
    border-radius: 4px;
    letter-spacing: 0;
    display: inline;
}
.formbuilder .formarea .border {
    border-radius: 5px;
}
.formbuilder .formarea .component-btn-group {
    margin-top: 0px;
}
.gu-mirror {
    background-color: #e9f0f5 !important;
    color: #858a90 !important;
    text-align: left !important;
    border: 1px solid rgba(0,0,0,0.125) !important;
    -webkit-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.5);
    box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.5);
}